@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  font-family: "Poppins", cursive, monospace;
}

/* Navbar */
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  height: 60px;
  box-shadow: 1px 2px 10px black;
  border-radius: 0 0 15px 15px;
}

.navbar-brand {
  margin: 0;
}

.navbar-toggler {
  color: white;
  background-color: orange;
}

.navbar-collapse {
  box-shadow: 0px 4px 10px black;
  border-radius: 10px;
}

@media only screen and (min-width: 576px) {
  .navbar-collapse {
    box-shadow: none;
  }
}

.logo {
  height: 2.5rem;
  width: auto;
}

/* Navbar End */

/* Home Page */
.main-title {
  color: orange;
}

.card {
  border-radius: 10px 10px 20px 20px;
}

.card a {
  text-decoration: none;
}

.img-container {
  position: relative;
  padding: 3rem;
  overflow: hidden;
  transition: all ease 0.5s;
}

.img-container:hover {
  padding: 2rem;
  transition: all ease 0.5s;
}

.add-to-cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%);
}

.img-container:hover .add-to-cart-btn {
  transform: translate(0, 0);
  transition: all 0.5s ease;
}

.add-to-wishlist-btn {
  color: lightcoral;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}

.add-to-wishlist-btn:hover {
  color: lightcoral;
}

.img-container:hover .add-to-wishlist-btn {
  transform: translate(0, 0);
  transition: all 0.5s ease;
}

.card-body {
  border-radius: 0 0 15px 15px;
  background: orange;
}

.btn.nav-btn {
  background: orange;
  color: white;
}

/* Home Page End */

/* Details Page */
.cart-btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

.wishlist-btn {
  color: white;
  background-color: lightcoral;
  padding-right: 1rem;
  padding-left: 1rem;
}
.wishlist-btn:hover {
  color: white;
  background-color: lightcoral;
}

/* Details Page End */
